@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
.index {
  font-family: 'Lato', serif;
  font-style: normal;
  display: flex;
  flex-direction: column;
  margin: 0; }
  .index__slider {
    padding: 20px 0;
    min-height: calc(100vh - 95px); }
    @media (max-width: 1024px) {
      .index__slider {
        min-height: calc(65vh - 95px); } }

.logo {
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
  color: #FFF;
  font-weight: bold;
  font-size: 32px; }
  .logo__body {
    margin: 0; }
  .logo__note {
    color: #F06C64;
    margin: 0; }

.navbar {
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold; }
  .navbar__link {
    color: #FFF;
    text-decoration: none; }
    .navbar__link:hover {
      color: #F06C64; }
  .navbar__link-separator {
    color: #FFF;
    margin: 0 12px; }

.navbar-burger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 20px; }
  .navbar-burger__line {
    width: 100%;
    height: 2px;
    border-radius: 5px;
    background: #FFF; }

.header {
  background: #2D303A;
  border-bottom: 6px solid #323746; }
  .header__container {
    margin: 0 auto;
    padding: 0 40px;
    max-width: 940px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 89px; }
  .header__logo {
    background: transparent; }
    @media (max-width: 768px) {
      .header__logo {
        margin: auto; } }
  .header__navbar-burger {
    display: none;
    align-self: center; }
    @media (max-width: 768px) {
      .header__navbar-burger {
        display: flex; } }
  @media (max-width: 768px) {
    .header__navbar {
      display: none; } }

.phone-icon {
  height: 483px;
  width: 240px;
  position: relative; }
  @media (max-width: 1024px) {
    .phone-icon {
      height: 364px;
      width: 180px; } }
  @media (max-width: 768px) {
    .phone-icon {
      height: 235px;
      width: 116px; } }
  @media (max-width: 425px) {
    .phone-icon {
      height: 178px;
      width: 88px; } }
  .phone-icon_direction_horizontal {
    height: 240px;
    width: 483px; }
    @media (max-width: 1024px) {
      .phone-icon_direction_horizontal {
        height: 181px;
        width: 364px; } }
    @media (max-width: 768px) {
      .phone-icon_direction_horizontal {
        height: 116px;
        width: 235px; } }
    @media (max-width: 425px) {
      .phone-icon_direction_horizontal {
        height: 88px;
        width: 178px; } }
  .phone-icon__shadow {
    height: inherit;
    width: inherit;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0; }
  .phone-icon__body {
    height: 458px;
    width: 216px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; }
    @media (max-width: 1024px) {
      .phone-icon__body {
        height: 344px;
        width: 162px; } }
    @media (max-width: 768px) {
      .phone-icon__body {
        height: 222px;
        width: 105px; } }
    @media (max-width: 425px) {
      .phone-icon__body {
        height: 168px;
        width: 79px; } }
    .phone-icon__body_direction_horizontal {
      height: 216px;
      width: 458px; }
      @media (max-width: 1024px) {
        .phone-icon__body_direction_horizontal {
          height: 162px;
          width: 344px; } }
      @media (max-width: 768px) {
        .phone-icon__body_direction_horizontal {
          height: 105px;
          width: 222px; } }
      @media (max-width: 425px) {
        .phone-icon__body_direction_horizontal {
          height: 79px;
          width: 168px; } }
  .phone-icon__screen-image {
    position: absolute;
    top: 65px;
    left: 14.5px;
    z-index: 2; }
    @media (max-width: 1024px) {
      .phone-icon__screen-image {
        top: 49px;
        left: 10px;
        height: 250px;
        width: 142px; } }
    @media (max-width: 768px) {
      .phone-icon__screen-image {
        top: 32px;
        left: 6px;
        height: 162px;
        width: 92px; } }
    @media (max-width: 425px) {
      .phone-icon__screen-image {
        top: 24px;
        left: 5px;
        height: 122px;
        width: 69px; } }
    .phone-icon__screen-image_direction_horizontal {
      top: 13.5px;
      left: 60px; }
      @media (max-width: 1024px) {
        .phone-icon__screen-image_direction_horizontal {
          top: 10px;
          left: 45px;
          height: 142px;
          width: 250px; } }
      @media (max-width: 768px) {
        .phone-icon__screen-image_direction_horizontal {
          top: 7px;
          left: 29px;
          height: 91px;
          width: 162px; } }
      @media (max-width: 425px) {
        .phone-icon__screen-image_direction_horizontal {
          top: 5px;
          left: 22px;
          height: 69px;
          width: 122px; } }

.slider {
  display: flex;
  background: #F06C64; }
  .slider__container {
    width: 100%;
    margin: 0 auto;
    padding: 0 40px;
    max-width: 940px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    @media (max-width: 1024px) {
      .slider__container {
        padding: 0 26px; } }
    @media (max-width: 768px) {
      .slider__container {
        padding: 0 10px; } }
  .slider__button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    .slider__button:hover {
      cursor: pointer; }
    .slider__button_direction_right {
      transform: rotate(0.5turn); }

.section-name {
  color: #666D89;
  font-weight: 900;
  font-size: 36px;
  line-height: 36px;
  margin: 0; }

.section-description {
  color: #767E9E;
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
  margin: 0; }

.services-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex: 1;
  grid-row-gap: 35px; }
  .services-list__service-item {
    align-self: stretch; }

.service-item {
  display: flex;
  flex-direction: row; }
  .service-item__icon {
    display: flex;
    width: 54px;
    height: 54px;
    justify-content: center;
    align-items: center;
    border: 3px solid #666D89;
    border-radius: 50%; }
  .service-item__info-about {
    margin-left: 15px;
    max-width: 220px; }
  .service-item__name {
    color: #666D89;
    font-weight: 900;
    font-size: 24px;
    line-height: 18px;
    margin: 0; }
  .service-item__description {
    color: #767E9E;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    text-align: justify;
    margin: 14px 0 0 0; }

.services {
  background: #F2F2F2;
  border-bottom: 6px solid #FFFFFF; }
  .services__container {
    margin: 0 auto;
    padding: 0 40px;
    max-width: 940px; }
  .services__section-name {
    margin: 60px 0 25px 0; }
  .services__services-list {
    margin: 60px 0 60px 0; }

.filter-list {
  display: flex;
  flex-direction: row;
  color: #767E9E;
  font-weight: 400;
  font-size: 16px;
  line-height: 12px; }
  .filter-list__filter-item {
    margin: 0 10px 0 0;
    border: 1px solid #767E9E;
    box-sizing: border-box;
    border-radius: 5px; }
    .filter-list__filter-item:hover {
      cursor: pointer;
      border-color: #FFFFFF;
      color: #FFF; }
  .filter-list__filter-item-content {
    margin: 5px; }

.portfolio-list {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px; }

.portfolio {
  background: #2D303A;
  border-bottom: 6px solid #323746; }
  .portfolio__container {
    margin: 0 auto;
    padding: 0 40px;
    max-width: 940px; }
  .portfolio__section-name {
    margin: 60px 0 25px 0; }
  .portfolio__filter-list {
    margin: 18px 0; }
  .portfolio__portfolio-list {
    margin: 0 0 60px 0; }

.social-buttons {
  display: flex;
  flex-direction: row; }
  .social-buttons__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border: 1.5px solid #666D89;
    border-radius: 50%;
    margin: 15px; }
    .social-buttons__item:hover {
      cursor: pointer;
      border-color: #FFFFFF;
      color: #FFF; }

.footer {
  background: #2D303A; }
  .footer__container {
    margin: 0 auto;
    padding: 0 40px;
    max-width: 940px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 76px; }
  .footer__description {
    color: #666D89;
    font-weight: 900;
    font-size: 16px;
    line-height: 18px; }

/*# sourceMappingURL=styles.css.map */
