.app__header {
    position: fixed;
    z-index: 1;
    width: 100%;
    background: #fff;
    border-bottom: 2px solid rgb(240, 242, 245);
}

.app__content {
    height: calc(100vh - 64px);
    margin-top: 64px;
}

.app__navbar {
    position: fixed;
    z-index: 1;
    left: 0;
    height: 100vh;
    border-right: 1px solid rgb(240, 242, 245);
}

.app__page {
    margin-left: 50px;
}