.app {
    width: 100vw;
    height: 100vh;
}

.app__header {
    background: #fff;
    border-bottom: 2px solid rgb(240, 242, 245);
}

.app__navbar {
    border-right: 1px solid rgb(240, 242, 245);
}

.app__page {
    background: #fff;
    padding: 20px;
}