.myNotes__note:hover {
    cursor: pointer;
}

.myNotes__noteList {
    height: 100%;
    background: #fff;
    margin-right: 200px;
}

.myNotes__noteInfo {
    position: fixed;
    z-index: 1;
    right: 0;
    height: 100vh;
    border-left: 1px solid rgb(240, 242, 245);
    padding: 10px 0 0 20px;
}
