.myNotes {
    background: #fff;
}

.myNotes__noteList {
    height: 100%;
    transition: all 0.2s;
}

.myNotes__noteList_large {
    margin-right: 350px;
}

.myNotes__noteList_small {
    margin-right: 20px;
}

.myNotes__noteInfo {
    position: fixed;
    z-index: 1;
    right: 0;
    height: 100vh;
    border-left: 1px solid rgb(240, 242, 245);
    padding: 10px 0 0 20px;
}
