.index {
  font-family: 'Lato', serif;
  font-style: normal;
  display: flex;
  flex-direction: column;
  margin: 0;
  overflow-x: hidden;

  &__slider {
    height: calc(100vh - 89px);
    box-sizing: border-box;

    @media (max-width: $tablet+px) {
      height: calc(65vh - 71px);
      margin-top: 71px;
    }
  }

  &__slider2 {
    height: 100vh;
  }

  &_overflow_hidden {
    overflow: hidden;
  }
}