.index {
  font-family: 'Lato', serif;
  font-style: normal;
  display: flex;
  flex-direction: column;
  margin: 0;

  &__slider {
    padding: 20px 0;
    min-height: calc(100vh - 95px);

    @media (max-width: $tablet+px) {
      min-height: calc(65vh - 95px);
      margin-top: 71px;
    }
  }

  &_overflow_hidden {
    overflow: hidden;
  }
}