$section-headers: #666D89;
$section-descriptions: #767E9E;
$base-red: #F06C64;
$base-blue: #2D303A;
$base-white: #F2F2F2;
$border-blue: #323746;
$border-red: #EA676B;
$border-white: #FFFFFF;

$font-white: #FFF;
$font-red: $base-red;