@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

// Variables
$section-headers: #666D89;
$section-descriptions: #767E9E;
$base-red: #F06C64;
$base-blue: #2D303A;
$base-white: #F2F2F2;
$border-blue: #323746;
$border-red: #EA676B;
$border-white: #FFFFFF;

$font-white: #FFF;
$font-red: $base-red;

// Mixins
@mixin container () {
  margin: 0 auto;
  padding: 0 40px;
  max-width: 940px;
}

// Styles
.index {
  font-family: 'Lato', serif;
  font-style: normal;
  display: flex;
  flex-direction: column;
  margin: 0;

  &__slider {
    min-height: calc(100vh - 95px);
  }
}

// HEADER
.header {
  background: $base-blue;
  border-bottom: 6px solid $border-blue;

  &__container {
    @include container;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 89px;
  }

  &__logo {
    background: transparent;
  }
}

.logo {
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
  color: $font-white;
  font-weight: bold;
  font-size: 32px;

  &__body {
    margin: 0;
  }

  &__note {
    color: $font-red;
    margin: 0;
  }
}

.navbar {
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;

  &__link {
    color: $font-white;
    text-decoration: none;

    &:hover {
      color: $font-red;
    }
  }

  &__link-separator {
    color: $font-white;
    margin: 0 12px;
  }
}

// SLIDER
.slider {
  display: flex;
  background: $base-red;

  &__container {
    width: 100%;
    @include container;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.slider__button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &:hover {
    cursor: pointer;
  }

  &_direction_right {
    transform: rotate(0.5turn);
  }
}

.phone-icon {
  height: 483px;
  width: 240px;
  position: relative;

  &_direction_horizontal {
    height: 240px;
    width: 483px;
  }

  &__shadow {
    width: 240px;
    height: 483px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;

    &_direction_horizontal {
      z-index: 9;
    }
  }
  &__body {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  &__screen-image {
    position: absolute;
    top: 65px;
    left: 13.5px;
    z-index: 2;

    &_direction_horizontal {
      top: 13.5px;
      left: 60px;
    }
  }
}

// SECTION NAME
.section-name {
  color: $section-headers;
  font-weight: 900;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
}

.section-description {
  color: $section-descriptions;
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
  margin: 0;
}

// SECTION DESCRIPTION

// SERVICES LIST
.services-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex: 1;
  grid-row-gap: 35px;

  &__service-item {
    align-self: stretch;
  }
}

.service-item {
  display: flex;
  flex-direction: row;

  &__icon {
    display: flex;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    border: 3px solid $section-headers;
    border-radius: 50%;
  }

  &__info-about {
    margin-left: 15px;
    max-width: 220px;
  }

  &__name {
    color: $section-headers;
    font-weight: 900;
    font-size: 24px;
    line-height: 18px;
    margin: 0;
  }

  &__description {
    color: $section-descriptions;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    text-align: justify;
    margin: 14px 0 0 0;
  }
}

// SERVICES
.services {
  background: $base-white;
  border-bottom: 6px solid $border-white;

  &__container {
    @include container;
  }

  &__section-name {
    margin: 60px 0 25px 0;
  }

  &__section-description {
  }

  &__services-list {
    margin: 60px 0 60px 0;
  }
}

// PORTFOLIO
.portfolio {
  background: $base-blue;
  border-bottom: 6px solid $border-blue;

  &__container {
    @include container;
  }


  &__section-name {
    margin: 60px 0 25px 0;
  }

  &__section-description {
  }

  &__filter-list {
    margin: 18px 0;
  }

  &__portfolio-list {
    margin: 0 0 60px 0;
  }
}

.filter-list {
  display: flex;
  flex-direction: row;
  color: $section-descriptions;
  font-weight: 400;
  font-size: 16px;
  line-height: 12px;

  &__filter-item {
    margin: 0 10px 0 0;
    border: 1px solid #767E9E;
    box-sizing: border-box;
    border-radius: 5px;

    &:hover {
      cursor: pointer;
      border-color: $border-white;
      color: $font-white;
    }
  }

  &__filter-item-content {
    margin: 5px;
  }
}

.portfolio-list {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;

  &__item {
  }
}







