.footer {
  background: $base-blue;

  &__container {
    @include container;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 76px;

    @media (max-width: $mobile+px) {
      justify-content: center;
    }
  }

  &__description {
    color: $section-headers;
    font-weight: 900;
    font-size: 14px;
    line-height: 18px;

    @media (max-width: $mobile+px) {
      display: none;
    }
  }
}