.slider {
  display: flex;
  background: $base-red;
  border-bottom: 6px solid $border-red;

  &__container {
    width: 100%;
    @include container;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @media (max-width: $laptop+px) {
      padding: 0 26px;
    }

    @media (max-width: $tablet+px) {
      padding: 0 10px;
    }
  }

  &__button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &:hover {
      cursor: pointer;
    }

    &_direction_right {
      transform: rotate(0.5turn);
    }
  }
}